@import "../fonts/googleFonts.scss";
@import "../_helpers/mixins";
@import "../_helpers/colorPallet";

#leaderBoard {
  color: hsla(0, 0%, 20%, 1);
  background-color: rgb(201, 201, 201);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px; /* outer HL */
  width: 30vw;
  padding: 20px 20px;
  @include F(center, center, column);
  h1,
  h2,
  h3,
  h4 {
    text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0,
      hsla(0, 0%, 100%, 0.6) 0 2px 1px;
    margin: 0;
    padding: 0;
  }

  #leaderBoard-title {
    text-shadow: none;
    color: $headerColor;
    padding: 0 0 5px;
  }

  #leaderboard-container {
    width: 95%;
    border-collapse: collapse;
    border: 1px solid black;
    #leaderboard__header {
      border: 1px solid black;
      background: #921f1b;
      th {
        color: #fff;
        padding: 8px 0;
        h4 {
          text-shadow: none !important;
        }
      }
    }
    .leaderboard__bodyItem {
      border: 1px solid black;
      &:nth-child(even) {
        background: #4b4b4b59;
      }
      &:nth-child(1) {
        background: rgba(255, 0, 255, 0.623);
      }
      td {
        text-align: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
      }
    }
  }
}

@media only screen and (max-device-width: 1200px) {
  #leaderboard-container {
    td {
      h3 {
        font-size: 1rem;
        padding: 5px 0;
      }
    }
  }
}

@media only screen and (max-device-width: 1000px) {
  #leaderBoard {
    width: 40vw;
    padding: 20px 20px;
    margin: 0px 15px;
  }
}

@media only screen and (max-device-width: 750px) {
  #leaderBoard {
    width: 50vw !important;
    margin: 0;
  }
}

@media only screen and (max-device-width: 700px) {
  #leaderBoard {
    width: 75vw !important;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-device-width: 543px) {
  #leaderBoard {
    width: 90vw !important;
    margin-bottom: 4vh;
  }
}

@media only screen and (max-device-width: 450px) {
  #leaderboard-container {
    width: 100% !important;
  }
}
