@import "../fonts/googleFonts.scss";
@import "../_helpers/mixins";
@import "../_helpers/colorPallet";

#userCard {
  color: hsla(0, 0%, 20%, 1);
  text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0, hsla(0, 0%, 100%, 0.6) 0 2px 1px;
  background-color: rgb(201, 201, 201);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
  height: 80vh;
  width: 30vw;
  margin: 30px 20px;
  header {
    @include F($d: column);
    padding: 10px 0;
    #profilePic-container {
      border-radius: 50%;
      overflow: hidden;
      height: 150px;
      width: 150px;
      box-shadow: 2px 2px 4px #fff !important;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h1 {
      margin: 10px 0;
      color: $headerColor;
    }
  }
  main {
    @include F(space-evenly);
    width: 100%;
    color: $dashboardText;
    font-size: 1.1rem;
    font-weight: 600;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      margin: 10px 0;
      color: $headerColor;
      span {
        color: $dashboardText;
      }
    }
    #content-container {
      width: 50%;
    }
    #rankPic-container {
      width: 30%;
      @include F($d: column);
      #rankPic {
        overflow: hidden;
        border-radius: 100%;
        height: 110px;
        width: 110px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      h4 {
        margin: 10px 0;
      }
    }
  }

  #profilePic-wrapper {
    margin: 10px 0 0 0;
    padding: 3px;
    box-shadow: 2px 2px 4px #444;
    border-radius: 50%;
    background: #fff;
  }

  #level-progress {
    border: 1px solid black;
    width: 80%;
    height: 8px;
    #level-progress__bar {
      height: 100%;
      // width: 50%;
      background: $headerColor;
    }
  }

  footer {
    margin: 11% 0;
    padding: 0;
    @include F($j: space-evenly, $a: flex-start);
    div {
      @include F(flex-start, flex-start, column);
      width: 40%;
      margin: 0 20px;
      color: $dashboardText;
      hr {
        width: 100%;
        border: 1px solid $dashboardText;
      }
      h4 {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
      }
      #kd__wins {
        color: green;
      }
      #kd__losses {
        color: red;
      }
      #streak__num {
        align-self: center;
        font-size: 2rem;
        color: $headerColor;
      }
    }
  }
}

@media only screen and (max-device-width: 1000px) {
  #userCard {
    width: 40vw;
  }
}

@media only screen and (max-device-width: 800px) {
  #userCard {
    width: 45vw;
    margin: 30px 5px;
  }

  footer {
    margin: 11% 0;
    padding: 0;
    div {
      width: 45% !important;
      margin: 0 10px !important;
      hr {
        width: 100%;
        border: 1px solid $dashboardText;
      }
      h4 {
        font-size: 1.15rem !important;
      }
    }
  }
}

@media only screen and (max-device-width: 700px) {
  #userCard {
    width: 75vw;
    margin: 30px 5px 10px;
    main {
      li {
        font-size: 1.3rem;
      }
      #rankPic-container {
        #rankPic {
          height: 150px;
          width: 150px;
        }
        h4 {
          font-size: 1.5rem;
        }
      }
    }
  }

  footer {
    margin: 11% 0;
    padding: 0;
    div {
      width: 40% !important;
      margin: 0 10px !important;
      hr {
        width: 100%;
        border: 1px solid $dashboardText;
      }
      h4 {
        font-size: 1.3rem !important;
      }
    }
  }
}

@media only screen and (max-device-width: 593px) {
  #userCard {
    main {
      #rankPic-container {
        #rankPic {
          height: 110px;
          width: 110px;
        }
        h4 {
          font-size: 1rem;
        }
      }
    }
    footer {
      margin: 5%;
    }
    #kd__wins {
      display: block;
    }
    #kd__losses {
      display: block;
    }
  }
}

@media only screen and (max-device-width: 543px) {
  #userCard {
    width: 90vw;
  }
}

@media only screen and (max-device-width: 460px) {
  #userCard {
    main {
      li {
        font-size: 1.2rem;
      }
      #rankPic-container {
        #rankPic {
          height: 100px;
          width: 100px;
        }
        h4 {
          font-size: 1rem;
        }
      }
    }
  }

  footer {
    margin: 3% !important;
    div {
      width: 40% !important;
      margin: 0 10px !important;
      hr {
        width: 100%;
        border: 1px solid $dashboardText;
      }
      h4 {
        font-size: 1.1rem !important;
      }
    }
  }
}
