@import "../../fonts/googleFonts.scss";
@import "../../_helpers/mixins";
@import "../../_helpers/colorPallet";

// - ONLINE BATTLE DISPLAY
#onlineBattle-modal {
  color: hsla(0, 0%, 20%, 1);
  background-color: rgb(201, 201, 201);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px,
    hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px;
  height: 80vh;
  width: 100%;
  @include F(space-evenly, center);
  border: 2px solid black;
}

#onlineBattle__action-container {
  height: 90%;
  width: 40%;
  @include F(space-evenly, center, column);
  .onlineBattle__contentBox {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 35%;
    width: 100%;
    background: #111;
    border: 1px solid #111;
    box-shadow: 2px 2px 4px #111;
    color: lawngreen;
    padding: 6px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px firebrick;
    }
    div {
      @include F(space-between, center, row);
      h1,
      h2 {
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
  section {
    @include F(space-evenly);
    align-items: center;
    margin: 0;
    padding: 0;
    height: 20%;
    width: 100%;
    // .onlineBattle-buttons {
    //   width: 40%;
    //   border: 1px solid #777;
    //   box-shadow: 2px 2px 4px #111;
    //   background: firebrick;
    //   transition: all 120ms ease-in-out;
    //   @include F();
    //   a {
    //     color: black;
    //     font-weight: 800;
    //     letter-spacing: 1px;
    //     padding: 20px 25px;
    //     text-decoration: none;
    //     transition: all 150ms ease-in-out;
    //   }
    //   &:hover {
    //     cursor: pointer;
    //     transform: scale(1.03);
    //     background: red;
    //     a {
    //       color: white;
    //     }
    //   }
    // }
  }
}
#brk-btn__adjustment {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #c9c9c9;
    height: 0.3em;
    right: 20%;
    top: -0.28em;
    transform: skewX(-45deg);
    -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 10%;
    background: #c9c9c9;
    height: 0.3em;
    left: 20%;
    bottom: -0.25em;
    transform: skewX(45deg);
    -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
    transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &:hover {
    cursor: pointer;
    &::before {
      right: 80%;
    }
    &::after {
      left: 80%;
    }
  }
}

#onlineBattle__global-container {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #777;
  color: lawngreen;
  font-size: 0.8rem;
  background: #111;
  padding: 0 3px;
  height: 90%;
  width: 50%;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px firebrick;
  }
}

#global__title {
  margin: 10px auto;
  text-align: center;
  text-decoration: underline;
}

#global__table {
  width: 100%;
  border-spacing: 0px 20px;
  th {
    font-weight: 800;
    font-size: 1.2rem;
  }
  td {
    text-align: center;
    h3 {
      letter-spacing: 0.25px;
      font-weight: 400;
      transition: all 200ms ease-in-out;
    }
  }
}

.expand {
  height: 60% !important;
}

.hide-on-expand {
  display: none !important;
}
