@import "../../fonts/googleFonts.scss";
@import "../../_helpers/mixins";
@import "../../_helpers/colorPallet";

#search-panel {
  background: linear-gradient(#11111160, #11111160),
    url("../../../images/squadSearchBg.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  position: relative;
}

#search__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 60%;
  form {
    width: 100%;
    input {
      width: 100%;
      background: #0000008c;
      font-size: 2rem;
      padding: 5px 15px;
      outline: none;
      font-weight: 600;
      letter-spacing: 1px;
      border: 1px solid $headerColor;
      color: $headerColor;
    }
  }
}

#content__query {
  background: #111111dc;
  width: 100%;
  min-height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#query__result {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: lawngreen;
  padding: 10px 0;
  border-bottom: 1px solid lawngreen;
  border-top: 1px solid lawngreen;
  transition: all 100ms ease-in-out;
  &:hover {
    cursor: pointer;
    background: rgba(126, 252, 0, 0.281);
  }
}
