@import '../fonts/googleFonts.scss';
@import '../_helpers/mixins';

// - background setup
h6,
h5,
h4 {
  margin: 0;
  padding: 0;
}

#newAccount-page {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#1111114b, #1111114b),
    url('../../images/accountCreation-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

// - form styles
#newAccount__form-container {
  // - centering container
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  //   - container styles
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  opacity: 0.9;
  border-radius: 1rem;
  height: 43rem;
  width: 40rem;
  h1 {
    margin-top: 10vh;
    font-size: 3.5rem;
    font-family: $headerFont;
    color: #f9e64d;
    letter-spacing: 1px;
    text-align: center;
  }
  form {
    @include F(space-around, center, column);
    width: 80%;
    margin: 1% 0;
    input {
      width: 100%;
      line-height: 2.4rem;
      font-size: 1.8rem;
      font-family: $bodyFont;
      padding: 5px;
      color: #f9e64d;
      border: none;
      border-bottom: 2px solid #999;
      background: #00000000;
      outline: none;
      margin: 10px 0;
    }
    button {
      align-self: flex-start;
      margin: 5px 0 10px;
      background: #00000000;
      font-size: 1.3rem;
      padding: 10px 20px;
      color: #999;
      outline: none;
      border: 2px #999 solid;
      transition: all 300ms ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(0.96);
        color: red;
        border-color: red;
      }
    }
  }
}

#invalidCharacter {
  color: rgba(255, 255, 255, 0.411);
  margin: 5px 0;
}

#page-selection {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-45%);
  span {
    color: white;
  }
  .selection__link {
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
  }
  .red-hov:hover {
    cursor: pointer;
    transform: scale(0.98);
    color: red;
  }
  .green-hov:hover {
    cursor: pointer;
    transform: scale(0.98);
    color: green;
  }
}

#characterSuggestions {
  align-self: flex-start;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
}

.characterSuggestions__text {
  color: white;
  align-self: flex-start;
  @include F(flex-start, flex-start);
  flex-wrap: wrap;
  h6 {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 0 5px;
    &:not(:last-child)::after {
      content: ', ';
    }
  }
}

@media only screen and (max-device-width: 700px) {
  #newAccount__form-container {
    height: 43rem;
    width: 40rem;
    h1 {
      margin: 8vh 0 4vh;
      font-size: 3.5rem;
    }
    form {
      input {
        line-height: 2rem;
      }
      button {
        margin: 5px 0 10px;
        font-size: 1.3rem;
        padding: 10px 15px;
      }
    }
  }
}

@media only screen and (max-device-width: 652px) {
  #newAccount__form-container {
    height: 40rem;
    width: 30rem;
    h1 {
      margin: 6vh 0 4vh;
      font-size: 3rem;
    }
    form {
      input {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (max-device-width: 498px) {
  #newAccount__form-container {
    width: 25rem;
    h1 {
      font-size: 2.5rem;
    }
    form {
      button {
        margin: 5px 0 10px;
        font-size: 1.1rem;
        padding: 8px 10px;
      }
    }
  }
}

@media only screen and (max-device-width: 409px) {
  #newAccount__form-container {
    width: 20rem;
    height: 38rem;
    h1 {
      margin: 6vh 0 1vh;
      font-size: 2.1rem;
    }
    form {
      input {
        font-size: 1.2rem;
      }
      button {
        margin: 5px 0 10px;
        font-size: 1rem;
        padding: 8px 10px;
      }
    }
  }
}
