@import '../fonts/googleFonts.scss';
@import '../_helpers/mixins';

// - background setup
#reset-page {
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#1111114b, #1111114b),
    url('../../images/passwordRecover-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.passwordChange-page {
  background: linear-gradient(#1111114b, #1111114b),
    url('../../images/resetBg.jpg') no-repeat top center fixed !important;
}

// - form styles
#reset__form-container {
  // - centering container
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  //   - container styles
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  opacity: 0.9;
  border-radius: 1rem;
  height: 43rem;
  width: 40rem;
  h1 {
    margin-top: 11vh;
    font-size: 3.5rem;
    font-family: $headerFont;
    color: #f9e64d;
    letter-spacing: 1px;
    text-align: center;
  }
  form {
    @include F(space-around, center, column);
    width: 80%;
    margin: 10% 0;
    input {
      width: 100%;
      line-height: 2.4rem;
      font-size: 1.8rem;
      font-family: $bodyFont;
      padding: 5px;
      color: #f9e64d;
      border: none;
      border-bottom: 2px solid #999;
      background: #00000000;
      outline: none;
      &:nth-child(odd) {
        margin: 5px 0 25px;
      }
    }
    button {
      align-self: flex-start;
      margin: 20px 0 0;
      background: #00000000;
      font-size: 1.3rem;
      padding: 10px 20px;
      color: #999;
      outline: none;
      border: 2px #999 solid;
      transition: all 300ms ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(0.96);
        color: red;
        border-color: red;
      }
    }
  }
}

#page-selection {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-45%);
  span {
    color: white;
  }
  .selection__link {
    padding: 5px;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
  }
  .red-hov:hover {
    cursor: pointer;
    transform: scale(0.98);
    color: red;
  }
  .green-hov:hover {
    cursor: pointer;
    transform: scale(0.98);
    color: green;
  }
}

@media only screen and (max-device-width: 700px) {
  #reset__form-container {
    height: 43rem;
    width: 30rem;
    h1 {
      margin: 8vh 5vw 4vh;
      font-size: 3rem;
    }
  }
}

@media only screen and (max-device-width: 700px) {
  #reset__form-container {
    height: 38rem;
    width: 25rem;
    h1 {
      margin: 8vh 5vw 4vh;
      font-size: 3rem;
    }
    form {
      input {
        font-size: 1.5rem;
      }
      button {
        font-size: 1.1rem;
      }
    }
  }
}

@media only screen and (max-device-width: 417px) {
  #reset__form-container {
    height: 30rem;
    width: 20rem;
    h1 {
      margin: 5vh 2vw 3vh;
      font-size: 2.2rem;
    }
    form {
      input {
        font-size: 1.3rem;
      }
      button {
        font-size: 1.1rem;
      }
    }
  }
}
